.command-buttons button {
	border-radius: 0.35rem;
	margin-top: 0.6rem;
	padding: 0.8rem;
	/* padding-left: 1.2rem;
	padding-right: 1.2rem; */
	font-size: 1rem;
}

.command-buttons button.ok {
	background-color: #ffe048;
	border-bottom-color: #b49b1e;
}

.command-buttons button.cancel {
	background-color: #eeeeee;
	border-bottom-color: #999999;
}

.command-buttons {
	display: flex;
}

.command-buttons button.ok {
	flex-grow: 3;
}

.command-buttons span {
	flex-grow: 1;
}

.command-buttons button.cancel {
	flex-grow: 2;
}
