*, ::after, ::before {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
	line-height: 1.5;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

img {
    vertical-align: middle;
    border-style: none;
}

/* //////////////////////////// */

html {
	font-size: 0.85em;
}

body {
	padding: 0.625rem;
	color: #000000;
	font-family: sans-serif;
	font-size: 1.0rem;
	background-color: #cccccc;
}

h3 {
	font-size: 1.25rem;
	font-weight: bolder;
}

div {
	border-radius: 0;
}

.app-icon {
	width: 2rem; /*32px;*/
	height: 2rem; /*32px;*/
}

.window-group {
	margin-bottom: 0.3rem;
	padding: 0.25rem;
	white-space: nowrap;
	background-color: #ffffff;
	/* box-shadow: 0 0.07em 0.3em #666666; */
}

/* A WindoGroup that's is not currently visible. */
.window-group.hidden {
	background-color: #eeeeee;
	box-shadow: none;
}

/* A row representing a WindowGroup title or a Tab */
.item-row {
	height: 2rem;
	white-space: nowrap;
	overflow: hidden; 
}

.item-row .window-title {
	font-size: 1.00rem;
	font-weight: bold;
}

/* The tab that is currently active on each window */
.item-row.tab.active {
	font-weight: bold;
}

/* The row representing a tab and it's currently under the mouse pointer. */
.item-row.tab.highlight {
	background-color: rgba(32, 32, 32, .05);
}

/* 
	For hidden tabs and window groups
*/
.hidden {
	color: #999999;
}

/*
   Tab Titles under a visible tab and window-group
*/
.visible .visible .tab-title {
	color: #000000;
}

.visible .window-title {
	color: #000000;
}

/* Icons */

/* All icons are displayed like this */
img.icon {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0.125rem;
	margin-right: 0.5rem;
}

/* and when they're hidden... */
img.icon.hidden {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

img.icon.expand-collapse-icon {
	cursor: pointer;
}

/* Tools */

.tab-tools {
	border-radius: 0.3rem;
	float: right;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 0.2rem;
}

.tab-tools .icon {
	cursor: pointer;
	
	width: 1.25rem;
	height: 1.25rem;
	margin: 0rem;
	margin-left: 0.4rem;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* Drag and Drop */

.dl-item.dragged .window-group {
	opacity: 0.25;
}

.dl-item.floating .window-group {
	box-shadow: 0em 0.4em 1.6em #666666;
}
.dl-item.floating {
	width: 95%;
}

/* Credits */
.credits {
	margin-top: 1.5em;
	font-size: 0.70em;
	color: #444444;
}
