*, ::after, ::before {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
	line-height: 1.5;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

img {
    vertical-align: middle;
    border-style: none;
}

/* //////////////////////////// */

html {
	font-size: 0.85em;
}

body {
	padding: 0.625rem;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 1.0rem;
	background-color: #cccccc;
}

h3 {
	font-size: 1.25rem;
	font-weight: bolder;
}

div {
	border-radius: 0;
}

.app-icon {
	width: 2rem;
	height: 2rem;
}

.window-group {
	margin-bottom: 0.3rem;
	padding: 0.25rem;
	white-space: nowrap;
	background-color: #ffffff;
}

/* A WindoGroup that's is not currently visible. */
.window-group.hidden {
	background-color: #eeeeee;
	box-shadow: none;
}

/* A row representing a WindowGroup title or a Tab */
.item-row {
	height: 2rem;
	white-space: nowrap;
	overflow: hidden; 
}

.item-row .window-title {
	font-size: 1.00rem;
	font-weight: bold;
	padding-top: 0.2rem;
}

.item-row input:focus {
	/* outline: none; */
}
.item-row input {
	font-size: 1.0rem;
}

/* The tab that is currently active on each window */
.item-row.tab.active {
	font-weight: bold;
}

/* The row representing a tab and it's currently under the mouse pointer. */
.item-row.tab.highlight {
	background-color: rgba(32, 32, 32, .05);
}

.item-row.tab .left-most.icon {
	margin-left: 2.25rem;
}

/* 
	For hidden tabs and window groups
*/
.hidden {
	color: #999999;
}

/*
   Tab Titles under a visible tab and window-group
*/
.visible .visible .tab-title {
	color: #000000;
}

.visible .window-title {
	color: #000000;
}

.item-row .tab-title {
	padding-top: 0.2rem;
}

/* Icons */

/* All icons are displayed like this */
img.icon {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0.125rem;
	margin-right: 0.5rem;
}

img.tool.icon {
	cursor: pointer;
}

/* and when they're hidden... */
img.icon.hidden {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

/* Tools */

.tab-tools {
	position: relative;
	border-radius: 0.3rem;
	background-color: #eeeeee;
	float: right;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 0.2rem;
}

.tab-tools .icon {
	cursor: pointer;
	
	width: 1.25rem;
	height: 1.25rem;
	margin: 0rem;
	margin-left: 0.2rem;
	margin-right: 0.2rem;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.tab-tools .tooltip {
	font-size: 0.75rem;
	text-transform: uppercase;
	padding-top: 0.15rem;
}

/* Drag and Drop */

.dl-item.dragged .window-group {
	opacity: 0.25;
}

.dl-item.floating .window-group {
	box-shadow: 0em 0.4em 1.6em #666666;
}
.dl-item.floating {
	width: 95%;
}

/* Credits */

.credits {
	margin-top: 1.5em;
	font-size: 0.70em;
	color: #444444;
}

.hint {
	color: #666666;
	font-size: 0.75rem;
	text-transform: uppercase;
	padding-top: 0.4rem;
}

/* TextSessionView  */

.textsession {
	/* position: absolute;
	left: 0;
	top: 0; */
	width: 100%;
	height: 100%;
	padding: 0.6rem;
	display: flex;
	flex-direction: column;
}

.textsession textarea {
	width: 100%;
	height: 100%;
	padding: 0.6rem;
	font-size: 1rem;
	resize: none;
	overflow: hidden;
	font-family: 'Inconsolata', 'Courier New', Courier, monospace;
	background-color: #ffffff;
	outline: #00000000;
	border: 0;
}

button {
	margin-top: 0.6rem;
	padding: 0.6rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	font-size: 1rem;
	border-bottom-color: #999999;
    border-right-color: #999999;
	box-shadow: 0.1rem 0.1rem 0.15rem #00000066;
}
button:hover {
	box-shadow: 0.1rem 0.1rem 0.1rem #00000066;
}

.textsession button.apply {
	font-weight: bold;
	background-color: white;
}

.textsession button.cancel {
	background-color: #eeeeee;
}
